version: '3.8'

services:
  # --- ВХІДНІ ДВЕРІ (REVERSE PROXY) ---
  nginx:
    image: nginx:latest
    container_name: nginx_proxy
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
    networks:
      - frontend_net
    depends_on:
      - wordpress
      - grafana

  # --- БАЗА ДАНИХ (ІЗОЛЬОВАНА) ---
  db:
    image: mysql:8.0
    container_name: wp_db
    restart: always
    environment:
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wp_user
      MYSQL_PASSWORD: wp_password
      MYSQL_ROOT_PASSWORD: root_password
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - backend_net

  # --- САЙТ WORDPRESS ---
  wordpress:
    depends_on:
      - db
    image: wordpress:latest
    container_name: wp_site
    restart: always
    expose:
      - "80"
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: wp_user
      WORDPRESS_DB_PASSWORD: wp_password
      WORDPRESS_DB_NAME: wordpress
    volumes:
      - ./wordpress_data:/var/www/html
    networks:
      - frontend_net
      - backend_net

  # --- МОНІТОРИНГ: NODE EXPORTER ---
  node-exporter:
    image: prom/node-exporter:latest
    container_name: node_exporter
    restart: unless-stopped
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.rootfs=/rootfs'
      - '--path.sysfs=/host/sys'
    networks:
      - monitoring_net

  # --- МОНІТОРИНГ: PROMETHEUS ---
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    expose:
      - "9090"
    networks:
      - monitoring_net
      - frontend_net

  # --- МОНІТОРИНГ: GRAFANA ---
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    expose:
      - "3000"
    volumes:
      - grafana_data:/var/lib/grafana
    networks:
      - frontend_net

networks:
  frontend_net:
    driver: bridge
  backend_net:
    driver: bridge
  monitoring_net:
    driver: bridge

volumes:
  db_data:
  prometheus_data:
  grafana_data:
